.more-screen .icon-row {
  margin-top: 35px;
}

.more-sugguestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 40px;
}

.more-sugguestions__title {
  margin-bottom: 30px;
}
