.alt-header {
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alt-header__column {
  width: 33%;
}

.alt-header__title {
  font-size: 28px;
  font-weight: 600;
}
/* 채팅창 화면의 니꼬 부분을 3등분해서 정렬하는 일종의 치트키 */

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}

.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
/*여기까지  채팅창 화면의 니꼬 부분 정렬 치트키 */

.alt-header__column span:last-child {
  margin-left: 20px;
}
